/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: gray;
  font-family: "hwt-artz", sans-serif;
  font-size: 2rem;
  color: gray;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* @media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
} */

/* vars */
:root {
  --gray-one: #757575;
  --cream-gray: #d9d9d9;
  --royal-blue: #266cd7;
  --mustard-yellow: #d7ba26;
  --green: #26d74d;
  --pink: #d726d0;
  --red: #d72626;
  --purple: #9326d7;
  --black: #000;
  --white: #fff;
  --max-width: 100vw;
  --max-height: 100vh;
  --modal-width: 88.8rem;
  --modal-height: 77.7rem;
  --modal-left-right-margin: 51.6rem;
  --modal-margin-top: 15.1rem;
  --modal-margin-bottom: 15.2rem;
}

/* btn utility */
.primary-btn {
  display: inline-block;
  border-radius: 0.8rem;
  text-align: center;
  line-height: 5rem;
  text-decoration: none;
  border: 0.4rem solid black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0.3rem 0.1rem rgba(0, 0, 0, 0.7);
  font-family: "hwt-artz";
  line-height: 3.6rem;
  letter-spacing: 0.09rem;
  /* width: 23.6rem;
  height: 5rem; */
  /* font-size: 3rem; */
  /* text-shadow: 0.08rem 0rem 0rem rgb(0, 0, 0),
    0.05657rem 0.05657rem 0rem rgb(0, 0, 0), 0rem 0.08rem 0rem rgb(0, 0, 0),
    -0.05657rem 0.05657rem 0rem rgb(0, 0, 0), -0.08rem 0rem 0rem rgb(0, 0, 0),
    -0.05657rem -0.05657rem 0rem rgb(0, 0, 0), 0rem -0.08rem 0rem rgb(0, 0, 0),
    0.05657rem -0.05657rem 0rem rgb(0, 0, 0); */
}

.primary-btn::before {
  content: "";
  position: absolute;
  border-radius: 0.6rem;
  filter: blur(0.1rem);
  z-index: -1;
  /* top: 0.3rem;
  bottom: 0.3rem;
  left: 0;
  right: 0; */
  /* width: 22.9rem;
  height: 3.5rem; */
}

/* flex utility */
.just-flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-content {
  display: flex;
  justify-content: center;
}

.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
